In [1]:
# Uploading the required packages
import pandas as pd, numpy as np

In [2]:
# Uploading the dataset
ds = pd.read_csv('cp255_A8.csv')

In [3]:
ds.head()

,Unnamed: 0,UID,tYear,AADT,ESAL,pTrucks,SingleTrucks,DoubleTrucks,TrainTrucks,Unnamed: 0.1,...,Prior Major Rehab Type,sfThick,Tthick,TSfThick,STcode,cumPPT,meanMinTemp,meanMaxTemp,cumESALs,cumFTC
0,0,1,2004,8313,43508,2.86,198,40,0,264764,...,NaN,0.25,1.00,0.25,BA,10640.559936,1.078182,24.900000,274171.756138,125
1,25,153,2004,21022,275739,12.61,1987,595,69,263826,...,ACP,0.15,2.29,0.75,BA,8751.709961,1.047143,24.995715,650949.401572,81
2,39,262,2004,13536,171057,11.03,1052,338,103,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,81,1003,2004,12215,82362,5.88,471,225,22,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,82,1004,2004,14234,98203,6.29,625,249,21,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data = ds.dropna(subset = ['cumPPT'])
print len(data.UID.unique())
print len(data)

353
1986

In [8]:
data.head()

,Unnamed: 0,UID,tYear,AADT,ESAL,pTrucks,SingleTrucks,DoubleTrucks,TrainTrucks,Unnamed: 0.1,...,Prior Major Rehab Type,sfThick,Tthick,TSfThick,STcode,cumPPT,meanMinTemp,meanMaxTemp,cumESALs,cumFTC
0,0,1,2004,8313,43508,2.86,198,40,0,264764,...,NaN,0.25,1.00,0.25,BA,10640.559936,1.078182,24.900000,274171.756138,125
1,25,153,2004,21022,275739,12.61,1987,595,69,263826,...,ACP,0.15,2.29,0.75,BA,8751.709961,1.047143,24.995715,650949.401572,81
7,97,1065,2004,15259,232669,10.51,696,790,117,263846,...,ACP,0.40,2.03,0.70,Other,2433.410004,-4.856667,31.370000,1665813.193530,164
9,116,1,2005,8337,43508,2.86,198,40,0,280428,...,NaN,0.25,1.00,0.25,BA,11562.159912,0.994167,24.890000,302899.119509,137
14,197,1003,2005,11591,96999,6.80,471,284,34,279732,...,ACP,0.08,1.31,0.41,BA,1611.910004,-5.936667,31.726667,369468.952560,126