In [1]:
import pandas as pd, numpy as np

In [2]:
ds = pd.read_csv('../modelDatasets/rmData1215.csv')

In [3]:
ds.head()

,Unnamed: 0,Unnamed: 0.1,UID,sYear,Rutting,IRI,PSC,Alli,Long,Is Bridge,...,cumFTC,pAlli,pLong,IRIsi,esals,ppt,mint,maxt,ICAO,ftc
0,0,0,222,1988,0.236,8.815663,78,0.004356,0.023523,1,...,0,1.980028,10.692152,1.669634,80705.085747,1653.949951,33.404000,75.613999,KAWO,0
1,1,1,583,1988,0.512,14.358494,37,0.023864,0.011932,1,...,1015,19.886370,9.943185,2.719413,44455.741252,2380.080078,22.118000,71.851999,KESW,109
2,2,2,589,1988,0.512,14.358494,37,0.065909,0.032955,0,...,1015,19.972458,9.986229,2.719413,42903.651207,2380.080078,22.118000,71.851999,KESW,109
3,3,3,1623,1988,0.236,11.085579,62,0.011932,0.029924,0,...,188,3.977274,9.974751,2.099542,14421.467543,184.009995,16.196000,83.462000,KEPH,19
4,4,4,1650,1988,0.236,12.669245,68,0.011932,0.029924,0,...,188,5.423555,13.601933,2.399479,11364.528711,186.139999,16.286001,83.318000,KEPH,19

In [4]:
ds[['IRIsi', 'pAlli', 'pLong']].describe()

              IRIsi         pAlli         pLong
count  52827.000000  52827.000000  52827.000000
mean       2.185743      4.779456     20.687367
std        0.772071      7.972471     21.216485
min        0.269949      0.000000      0.000000
25%        1.653646      0.000000     14.867429
50%        2.101547      2.401516     14.962126
75%        2.628022      5.965911     28.428039
max        8.750110     79.924268    199.356124

In [5]:
df = pd.read_csv('../../Research Data/Rmodels/data/mcsdataset.csv')

In [6]:
df.columns

Index([u'Unnamed: 0', u'UID', u'IsBridge', u'Lane Surface Type', u'LaneMiles',
       u'Region_x', u'FFClass', u'SurfaceTypeCode', u'STDescription',
       u'TreatBaseCode', u'TreatBaseDescription', u'TBThick', u'untrthick',
       u'Y_ESAL', u'MajorRehabYear', u'Cum_ESAL', u'SURFTHK', u'ULT',
       u'TSfThick', u'tmin', u'tmax', u'cumESALs', u'IRIsi', u'Alli', u'Long',
       u'E_Alli', u'E_Long', u'prep', u'MinT', u'MaxT', u'FTCycles',
       u'actbthick', u'pctbthick', u'ftprep', u'BA', u'AA', u'AADT',
       u'ptrucks', u'Trucks', u'PCars', u'VehMiles', u'TruckMiles',
       u'SpeedLimit', u'ESALmean', u'ESALstd', u'PPTmean', u'PPTstd',
       u'MINTmean', u'MINTstd', u'MAXTmean', u'MAXTstd', u'FTCmean',
       u'FTCstd'],
      dtype='object')

In [7]:
df[[u'cumESALs', u'IRIsi', u'Alli', u'Long']].describe()

              cumESALs        IRIsi         Alli         Long
count      4083.000000  4083.000000  4083.000000  4083.000000
mean    2745156.810901     1.681400     2.539461    11.864837
std     4730352.832511     0.778281     7.051901    20.160604
min       15783.219680     0.495581     0.000000     0.000000
25%      585919.143400     1.154514     0.000000     0.000000
50%     1215425.895000     1.499369     0.000000     2.840910
75%     2325750.672000     2.000978     0.369318    14.114157
max    50235073.720000     6.834674    59.488655   147.348532